* {
  font-size: 1rem;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Open Sans", sans-serif;
}

html,
body,
.main_Container {
  height: 100%;
}

.main_Container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("../resources/sean-pollock-PhYq704ffdA-unsplash.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.searchField {
  display: inline-flex;
  justify-content: space-around;
  width: 100%;
  height: 8vh;
  padding: 10px;
  box-shadow: rgb(115, 177, 202) 0px 5px 20px;
}

.userSearchField,
.searchButton {
  outline: none;
}

.userSearchField {
  width: 40vw;
}

.searchButton,
.userSearchField,
.listDisplay,
.homeButton,
.imageContainer,
.description::-webkit-scrollbar-thumb,
#myChart,
.listImage,
.errorToast {
  border: none;
  border-radius: 5px;
}

.searchButton,
.homeButton {
  background-color: white;
}

.userSearchField,
.searchButton,
.homeButton {
  padding: 4px 6px;
  align-self: center;
}
.searchButton:hover,
.userSearchField:hover,
.homeButton:hover {
  background-color: rgb(139, 181, 215);
  transition: background-color 200ms linear;
}

.searchButton,
.userSearchField,
::placeholder,
.homeButton {
  color: rgb(150, 207, 230);
}

.searchButton:hover,
.userSearchField:hover,
.userSearchField:hover::placeholder,
.homeButton:hover {
  color: white;
}

.listDisplay {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 80%;
  width: 80vw;
  margin: 5vh 0px;
  padding: 2vh 4.5vw;
  background-color: rgba(28, 28, 92, 0.5);
}

.listDisplay,
.stockMarquee_Container {
  box-shadow: rgb(42, 50, 53) 0px 2px 20px;
}

.listDisplay,
.stockMarquee_Container {
  background-color: rgba(28, 28, 92, 0.5);
}

.listItem,
.profileHeader,
.description,
.error,
.marqueeDisplay {
  color: rgb(255, 238, 0);
}

a,
li {
  text-decoration: none;
}

.error {
  font-weight: bolder;
  justify-content: center;
  align-items: center;
}
/*Imported Custom loader Css */

.loading-bar-spinner {
  display: none;
  left: 50%;
  margin-left: -20px;
  top: 50%;
  margin-top: -20px;
  position: absolute;
  z-index: 19;
  animation: loading-bar-spinner 900ms linear infinite;
}

.spinner-icon {
  width: 70px;
  height: 70px;
  border: solid 5px transparent;
  border-top-color: #fded05;
  border-left-color: #fded05;
  border-radius: 50%;
}

@keyframes loading-bar-spinner {
  0% {
    transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.profileHeader {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 2vh;
}

.imageContainer {
  background-color: transparent;
  width: 6vw;
}

.description {
  font-size: 12px;
  margin: 2px 0px;
  height: 10vh;
  width: fit-content;
  overflow: scroll;
  overflow-x: hidden;
}

.description::-webkit-scrollbar {
  width: 1vw;
}

.searchField,
.description::-webkit-scrollbar-thumb {
  background-color: rgb(150, 207, 230, 0.5);
}
.description::-webkit-scrollbar-track-piece {
  background: transparent;
}

#myChart {
  background-color: white;
}
.listContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.itemContainer {
  display: flex;
  justify-content: flex-start;
  width: fit-content;
  align-items: center;
  flex-direction: row;
  border-bottom: rgb(255, 247, 0) 1px solid;
}

.listImage {
  height: 5vh;
  width: auto;
}

/* marquee*/
.stockMarquee_Container {
  width: 100%;
  align-items: center;
  overflow: hidden;
}

.marqueeDisplay {
  display: inline-flex;
  font-size: 10px;
  line-height: 1.3;
  padding: 10px 0;
  white-space: nowrap;
  animation: stockMarquee 3000s infinite linear;
}

@keyframes stockMarquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.errorToast {
  visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 3vh;
  width: fit-content;
  padding: 0vh 3vw;
  height: 10vh;
  color: white;
  background-color: rgba(21, 15, 15, 0.7);
  z-index: 15;
}

.errorToast.show {
  visibility: visible;
  animation: fadeIn 1s, fadeOut 1s 8s;
}

@keyframes fadeIn {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    bottom: 30px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}
